---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en" class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="sticky top-0 z-10 bg-white backdrop-filter backdrop-blur-lg bg-opacity-30 border-b border-gray-200">
			<div class="max-w-5xl mx-auto px-4">
			  <div class="flex items-center justify-between h-16">
				<span class="text-2xl text-gray-900 font-semibold">
					<a href="/" class="">
						<img src="https://cdn.discordapp.com/icons/1159118596992139335/ada7f07edc05fe3b5b3be298d26f2394.webp?size=96" alt="logo" class="h-12 w-12" />
					</a>
				</span>
				<div class="flex space-x-4 text-gray-900">
				  <a href="/#aboutus" class=" text-arapawa-400 text-xl">關於我們</a>
				  <a href="./staff" class=" text-arapawa-400 text-xl">TSC 團隊</a>
				  <a href="./sponsor" class=" text-arapawa-400 text-xl">合作夥伴</a>
				  <a href="/#Contacts" class=" text-arapawa-400 text-xl">聯絡資訊</a>
				</div>
			  </div>
			</div>
		  </nav>
		<slot />
		<!-- Footer -->
		<Footer />
	</body>
</html>