---
import Layout from '../layouts/Layout.astro';
import {BackgroundGradientAnimationDemo} from '../components/hero_gradient.tsx';
---

<Layout title="TSC 2024">
	<main>
		<BackgroundGradientAnimationDemo client:load />
	</main>
</Layout>